apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
  namespace: flask-mongo-ns
spec:
  replicas: 2
  selector:
    matchLabels:
      app: flask
  template:
    metadata:
      labels:
        app: flask
    spec:
      containers:
      - name: flask
        image: mananspace/flask-mongodb-app:v1
        env:
          - name: MONGODB_URI
            value: mongodb://mongouser:password123@mongo-service:27017/
        ports:
          - containerPort: 5000
        resources:
          requests:
            cpu: "0.2"
            memory: "250Mi"
          limits:
            cpu: "0.5"
            memory: "500Mi"
